<% rand_img = image_path "mb-#{rand(1..5)}.jpg" %>
<div class='container'>
  <div class='row'>
      <div class="col col-xs-12">
        <ul>
          <li><%= @user.username %></li>
          <li><%= @user.email %></li>
          <li><%= @user.phone_number %></li>
          <li><%= link_to 'Edit', edit_user_registration_path %></li>
          <li><%= link_to "Add Gear", new_gear_path  %></li>
        </ul>
      </div>
    </div>
    <div class="row">
     <% @user.gears.each do |g| %>
      <div class="col col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= g.photos.blank? ? rand_img : (cl_image_path g.photos[0].path, height: 400, width: 600, crop: :fill)%>'')">
        <div class="card-name"><%= g.name %></div>
          <div class="card-description">
            <p> <%= g.description %></p>
          </div>
        </div>
      </div>
     <% end %>
    </div>
  </div>
</div>
