<div class="search_container">

    <div class="row">

    <div class="left col-xs-8">
      <%= simple_form_for :term, method: :get do |f|%>
      <%= f.input :term %>
      <%= f.submit %>
      <% end %>
        <% @gears.each do |g|%>
         <div class="col col-xs-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "mb-#{rand(1..5)}.jpg" %>)">
            <div class="card-name"><%= g.name %></div>
            <div class="card-description">
            <p><%= link_to "This Gear", gear_path(g), {class: "btn btn-primary btn-sm"}  %>
            Check it out</p>>
          </div>
        </div>
        </div>
        <% end %>

  </div>

  <div class="right col-xs-4">
  <div id="map"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      <% end %>
    <% end %>
    </div>
  </div>
</div>
