<div class='container'>
  <div class='row'>
      <%=@user.each do |x| %>
        <div class="col col-xs-12">
          <%= x.facebook_picture_url %>
          <%= x.first_name %> <%= x.last_name %>
          <%= x.phone_number %>
        </div>
      <% end %>
    <!-- this will probably not work as we may not have connection for user to gear -->
     <% @user.gear.each do |g| %>
      <div class="col col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "mb-#{rand(1..5)}.jpg" %>)">
        <div class="card-name"><%= g.name %></div>
        <div class="card-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad optio porro dolor harum iusto nulla accusamus facilis, facere, fugiat numquam temporibus nesciunt dignissimos, consequatur iste eum quis explicabo assumenda id.</p>
        </div>
      </div>
    </div>
    <% end %>

    <!-- Route from the user to the gear -->
    <!--   ===========================================================   -->
    <!-- Route from the user to the gear to the review -->
    <!--   We want to display the reviews on the user's page AND on the gear page   -->
    <!--   ===========================================================   -->
    
    <!-- add in reviews - probably also break the code -->
    <%= @user.gear.each do |r|%>
      <div class="col col-xs-12">
        <%= r.reviews %>
      </div>
    <% end %>
    </div>
  </div>
</div>
